{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 style="text-align: center">Financial Services Innovation Lab Project</h1>
	<hr color= #ffd40c>
<div style="text-align: center">
	<form action="/" method="POST">
		<input type="text" name="stockticker" id="stockticker" placeholder="Enter a valid stock ticker" size="33" required>
		<input type="submit" value="Get Financial Statistics">
	</form>
	
	{% if error %}
    <p>Invalid Stock</p>
  {% endif %}
</div>
{% endblock %}